@model FakeIG.Models.MainModel
@{
    ViewBag.Title = "Index";
    ViewBag.Member = Model.Member;
}

@{
    if (Model.PAMList.Count > 1)
    {
        <div class="col-10 col-md-10" >
            @foreach (var item in Model.PAMList)
            {
                @Html.Partial("_PostPartial", item)
            }

        </div>
    }
    else
    {
        <p>尚未有資料</p>
    }
}

<script>
    function likePost(postID, memberID, postMemberID) {
        axios.post('/Post/Like/', {
            postID: postID,
            memberID: memberID,
            postMemberID: postMemberID
        })
            .then(function (res) {
                console.log(res);
                if (res.data == "Nice") {
                    $(`#${postID}`).attr("src", "/Images/favorite.png")
                }
                else {
                    $(`#${postID}`).attr("src", "/Images/like.png")
                } 
            })
            .catch(function (err) {
                console.log(err)
            });
    }
</script>
